<!-- <app-comp-atributos>
  <h2>Ola</h2>
  <p>Eu vim de fora</p>
</app-comp-atributos> -->

<!-- Esse NG serve para armazenar um metodo para aparecer o elemento utilizando (true or false) -->
<!-- <app-card *ngIf="isAliveCard; else anotherblock"></app-card> -->

<!-- Esse NG serve para lrvar a tag filha para outro componente -> *veja no comp-atributos o resultado* -->
<!-- <ng-template #anotherblock>
  <p>Ola sou um bloco secreo</p>
</ng-template> -->

<router-outlet></router-outlet>
<app-list-new></app-list-new>