h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.644);
    background: linear-gradient(90deg, rgba(185,228,161,1) 0%, rgba(89,154,232,1) 100%);
    padding: 10px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.253);
}